torch>=2.1.0
torchvision
torchaudio
accelerate>=0.33.0
transformers>=4.44.0
diffusers>=0.25.0
safetensors>=0.4.4
huggingface_hub>=0.24.5
peft
sentencepiece
protobuf
bitsandbytes>=0.44.0
prodigyopt
optimum-quanto
einops>=0.7.0
opencv-python>=4.8.1.78
Pillow>=8.0.0
imagesize>=1.4.1
toml>=0.10.2
pyyaml
omegaconf
voluptuous>=0.13.1
tensorboard
kornia
invisible-watermark
lycoris-lora>=1.8.3
lpips
pytorch_fid
hf_transfer
ftfy>=6.1.1
python-slugify
flatten_json
timm>=0.9.0
python-dotenv
transformers_stream_generator
python-dotenv
timm>=0.9.0
